/*
material design scratch

bordercolor for regualar #313439
#1f2227 for surrounding
body background color #17191c
main background color #22252a
second background #2d3035
input color #1f2229
*/

*,
.box .box-header {
    border-color: #313439 !important;
}

.nvd3 text {
    fill: #fff !important;
}

.markItUp a:link,
.markItUp a:visited,
.project-status-bar .buttons input.small {
    color: #000 !important;
}

.box .box-header {
    border-radius: 0 !important;
    border-top: 0 !important;
    background-color: #2d3035 !important;
}

.slider-carousel-control {
    background-color: transparent !important;
}

#profile-data .footer,
.button.grey,
.tabs-index li,
.v-tabs li.active,
.v-tabs li.active:hover,
button, #donor {
    background-color: #2d3035 !important;
}

.box .box-content .action-bar.white .inner {
    background-color: #2d3035 !important;
}

.gsc-control-cse {
    background-color: #22252a !important;
}

.highlighted {
    background-color: #36393f !important;
}

.gallery-info {
    background-color: #22252a !important;
}

#galleries > .box-content {
    height: 100% !important;
}

#brdmenu > div,
#brdheader .box-head {
    background-color: #2d3035 !important
}

.h-tabs > li.active a {
    border: 0 !important;
}

.h-tabs > li > a {
    color: #fff !important;
}

#tabs-content {
    background-color: #2d3035 !important;
}

#topnav {
    height: 50px !important;
}

.dropdown .dropdown-menu ul {
    color: #000 !important;
}

#brdmenu {
    padding: 6px 20px !important;
}

.intro .sprite .text {
    background-color: #2d3035 !important;
}

.button.grey,
.button.grey > span,
.button.small > span,
button,
button.small > span,
button > span {
    color: #fff !important;
}

.gsc-tabHeader,
.gsc-selected-option-container,
.gsc-option-menu {
    filter: invert(100%) !important;
    color: #000 !important;
    border: 0px !important;
}

.gsc-tabHeader.gsc-tabhActive {
    border: 0px !important;
}

.button.grey,
button {
    border-radius: 0 !important;
    border: 1px solid #1f2227 !important;
    background-image: none !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

.box .box-content,
.v-tabs li:hover,
input {
    border-color: #313439 !important;
}

.box .box-head,
.h-tabs > li > a,
.tabs .tabs-index li {
    border-radius: 0 !important;
}

.button.grey:hover,
button:hover {
    background-image: none !important;
    background-color: #1f2227 !important;
}

.markItUp .browser-os-button a,
.markItUp .markItUpButton1 a,
.markItUp .markItUpButton10 a,
.markItUp .markItUpButton2 a,
.markItUp .markItUpButton3 a,
.markItUp .markItUpButton4 a,
.markItUp .markItUpButton8 a,
.markItUp .markItUpButton9 a {
    filter: invert(100%) !important;
}

.box-head h4 {
    display: block !important;
}

select {
    color: #fff !important;
    border-color: #1f2227 !important;
    background-color: #2d3035 !important;
}

.v-tabs li:hover {
    background-color: #22252a !important;
}

#content {
    padding-top: 65px !important;
}

.v-tabs li.active,
.v-tabs li.active a {
    text-shadow: none !important;
    background-color: #22252a !important;
}

#djangobbwrap,
.cols {
    margin-top: 20px !important;
}

input {
    background-color: #1f2229 !important;
}

#navigation .link > a,
#topnav ul.account-nav ul.user-nav li a,
#topnav ul.site-nav li a {
    color: #fff !important;
}

.mod-unread {
    background-color: #36393f !important;
}

.box .box-head {
    border-top: 0 !important;
}

dl dt {
    color: #fff !important;
}

.outer .sort-mode .select select > option {
    background-color: #22252a !important;
}

.box .box-content .action-bar .inner {
    background-color: #313439 !important;
    border-color: #313439 !important;
}

#comments .comments li,
#comments .more-replies,
#comments ul.comments ul li,
#gallery-cover-image,
#profile-box .player,
#profile-data .footer,
#topnav ul.account-nav .logged-in-user .user-icon,
.box .box-head .portrait img,
.carousel .thumb img,
.media-item-content .media-thumb img,
.media-list li,
.news li:nth-child(2n),
.showcase .info,
.slider-carousel .project.thumb img,
.slider-carousel .thumb img,
.thumb img,
.thumbnail .thumbnail-image img,
ul.curators li img {
    border-color: #313439 !important;
}

.box {
    background: 0 0 !important;
}

.gsc-adBlock {
    display: none !important;
}

.gsc-webResult {
    background-color: #2d3035 !important;
    padding-left: 5px !important;
}

#topnav .logo span,
#topnav .logo:hover span {
    height: 50px !important;
    background-image: url(https://scratch.mit.edu/images/logo_sm.png) !important;
    background-repeat: no-repeat !important;
    background-position: 50% !important;
    width: 81px !important;
}

#topnav .logo span {
    background-size: 95% !important;
    transition: all .15s ease !important;
}

#topnav .logo:hover span {
    background-size: 100%
}

#comments .more-replies {
    box-shadow: 0 -25px 20px -10px #2d3035 !important;
    background-color: #2d3035 !important;
}

#comments .more-replies .pulldown {
    color: #70FFFF !important;
    background-color: #2d3035 !important;
}

#profile-box .doing,
.box .box-content .inner {
    background-color: #2d3035 !important;
    border-color: #313439 !important;
}

.h-tabs > li:hover,
ul.curators li {
    border: 0 !important;
}

.h-tabs > li.active {
    background-color: #22252a !important;
    border: 0 !important;
}

.tips-resources,
.ttt-tile,
ul.curators li {
    background-color: #2d3035 !important;
}

.h-tabs > li:hover > a {
    border-color: #22252a !important;
}

.outer .sort-controls,
.showcase .actions {
    border-color: #313439 !important;
}

.carousel .thumb span.title a {
    font-weight: inherit !important;
}

.outer #projectBox,
.tab-background,
.tabs,
.title-banner {
    background-color: #22252a !important;
}

.tab-background,
.title-banner {
    border-bottom: 1px solid #1f2227 !important;
}

.grid .thumbnail {
    border-radius: 0 !important;
    background-color: #2d3035 !important;
}

.tabs li:hover {
    background-color: #1f2126 !important;
}

.action a.remix-tree {
    box-shadow: none !important;
    border-radius: 0 !important;
    border-color: #313439 !important;
}

.showcase .fixed #remix-history {
    border-color: #313439 !important;
}

#explore-bar #explore-header {
    box-shadow: none !important;
    border-color: #1f2227 !important;
    background: #22252a !important;
}

.blockpost div,
.postfootleft,
.postfootright,
.postleft,
.postright {
    box-shadow: inset 1px 0 #313439 !important;
}

#explore-bar #related-projects {
    background-color: #2d3035 !important;
}

.content,
.media-info-item.date,
.media-info-item.status,
.media-item-content .media-stats .stat,
.news li p,
.tclcon,
.username_link,
input,
div,
p,
pre,
select,
textarea {
    color: #CCC !important;
}

#wip,
.language-chooser .select select,
.my_select {
    color: #000 !important;
}

.editable.write,
.editable:hover {
    background-color: #1f2229 !important;
}

.box .box-content.grey {
    background-color: #2d3035 !important;
}

.media-col li {
    border-color: #313439 !important;
}

.body {
    background-color: #17191c !important;
    border-radius: 0 !important;
    border-color: #1f2227 !important;
}

.about .body img {
    border-color: #313439 !important;
}

.blockpost .box-content,
.postfootright,
.postleft,
.postright {
    background-color: #2d3035 !important;
    border-left-color: #2d3035 !important;
}

div > div > div.postfootleft,
div > div > div.postfootright {
    padding: 0 !important;
}

#footer,
#topnav,
.banner {
    box-shadow: none !important;
}

.code,
.djangobb blockquote {
    background-color: #1f2229 !important;
    border-color: #313439 !important;
}

.blockpost .box-head,
.box-head {
    background-color: #22252a !important;
    -webkit-border-radius: 0 !important;
}

.blockpost div.box {
    border: 1px solid #1f2227 !important;
    background-color: #22252a !important;
}

.box,
.comment-text,
.dropdown,
.messages-social,
.messages-social-list {
    border-radius: 0 !important;
}

.dropdown.with-arrow::before {
    background-color: #2d3035 !important;
}

.messages-social {
    border-color: #1f2227 !important;
    background-color: #22252a !important;
}

.messages-social-list {
    background-color: #2d3035 !important;
    border-color: #1f2227 !important;
}

.comment-text {
    background-color: #22252a !important;
    border-color: #313439 !important;
}

.button.white,
select[name="messages.filter"] > option {
    background-color: #2d3035 !important;
}

.comment-text:after,
.comment-text:before {
    content: none !important;
}

select[name="messages.filter"] {
    background-color: #2d3035 !important;
    border-radius: 0 !important;
}

.select select:focus {
    border-color: #1f2227 !important;
}

#comments #comments-enabled-box,
.editable-empty,
.showcase .action,
.social-message,
textarea {
    border-color: #313439 !important;
}

textarea {
    background-color: #1f2229 !important;
}

.select select:focus,
.select select:hover {
    background-color: #2d3035 !important;
}

.showcase .actions {
    background-color: #22252a !important;
}

.box .box-content,
.editable-empty {
    background-color: #2d3035 !important;
}

.media-item-content .media-stats .stat .icon-xs {
    opacity: 1 !important;
}

a,
a:active,
a:hover,
a:link,
a:visited,
a > b,
a > b:active,
a > b:hover,
a > b:link,
a > b:visited {
    color: #70FFFF !important;
}

.activity-stream .actor a,
.name,
.name a,
h1,
h2,
h3,
h4,
h5 {
    color: #edeef0 !important;
}

.djangobb th,
.tc1,
.tc2,
.tc3,
.tc4 {
    background-color: #2d3035 !important;
    color: #CCC !important;
}

.editable-empty {
    color: #CCC !important;
}

.djangobb td,
.djangobb th {
    border-color: #313439 !important;
}

.box {
    border-color: #1f2227 !important;
}

body {
    background-color: #22252a !important;
    text-shadow: none !important;
    background-image: none !important;
    color: #CCC !important;
}

#view {
    background-color: #17191c !important;
}

html {
    background-color: #17191c !important;
}

#footer,
#navigation,
#topnav .innerwrap,
.dropdown,
.splash .splash-header .box {
    background-color: #2d3035 !important;
}

.tabs-index li,
.v-tabs li.active,
.v-tabs li.active:hover {
    border: none !important;
    border-top: none !important;
    border-bottom: 1px solid #313439 !important;
    -webkit-border-top-left-radius: 0 !important;
}

.account-nav .user-info {
    color: #fff !important;
}

.comment .comment-body .comment-bubble:before {
    border-color: #313439 !important;
    background-color: #1f2229 !important;
}

.comment .comment-body .comment-bubble {
    background-color: #1f2229 !important;
}

.replies.collapsed > .comment:last-of-type:after {
    background: linear-gradient(rgba(230, 240, 255, 0), #222222) !important;
}

.v-tabs li.first {
    -webkit-border-top-left-radius: 0 !important;
}

.gsc-cursor-page {
    background-color: #313439 !important;
}

.hovertext {
    display: none !important;
}

.studio-list {
    background-color: #313439 !important;
}

.player-box-footer-module {
    background-color: #313439 !important;
}

#logs td {
    background-color: #313439 !important;
}

#topnav .innerwrap {
    box-shadow: none !important;
    border-bottom: 0 !important;
    height: 50px !important;
}

#topnav form.search input[type=text] {
    height: 40px !important;
    border-radius: 5px !important;
    padding: 0 10px 0 40px !important;
}

#topnav form.search {
    margin-top: 5px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}

#topnav ul.site-nav li {
    height: 50px !important;
    line-height: 50px !important;
    font-size: 1rem !important;
}

#topnav ul.site-nav li a {
    font-size: 15px !important;
    font-weight: 700 !important;
    line-height: 15px !important;
}

#topnav ul.account-nav .messages .messages-icon {
    background-image: url(https://scratch.mit.edu/images/nav-notifications.png) !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background-size: 45% !important;
    width: 50px !important;
    height: 50px !important;
}

#topnav ul.account-nav .my-stuff .mystuff-icon {
    background-image: url(https://scratch.mit.edu/images/mystuff.png) !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background-size: 45% !important;
    width: 50px !important;
    height: 50px !important;
}

#topnav ul.account-nav .messages .messages-icon:hover,
#topnav ul.account-nav .my-stuff .mystuff-icon:hover {
    background-size: 50% !important;
}

#topnav .logo span:hover {
    background-size: 100% !important;
}

#topnav form.search .glass {
    width: 40px !important;
    height: 40px !important;
    border-right: 0 !important;
    background-color: transparent !important;
    background-image: url(https://scratch.mit.edu/images/nav-search-glass.png) !important;
    background-repeat: no-repeat !important;
    background-position: 50% !important;
    background-size: 14px 14px !important;
    margin: 0 !important;
    border-radius: 5px !important;
    padding: 9.6px 12.8px !important;
}

#topnav ul.account-nav > li.join-scratch:hover,
#topnav ul.account-nav > li.sign-in.open,
#topnav ul.account-nav > li.sign-in:hover {
    background-color: rgba(0, 0, 0, .1) !important;
}

#topnav ul.account-nav .sign-in .popover {
    background-color: #2d3035 !important;
    border-color: #1f2227 !important;
}

#topnav ul.account-nav .sign-in .popover .arrow {
    border-bottom-color: #1f2227 !important;
}

#topnav ul.account-nav .sign-in .popover .arrow:after {
    border-bottom-color: #2d3035 !important;
}

#topnav ul.account-nav > li {
    border-left: 0 !important;
}

#topnav ul.site-nav li {
    border-left: none !important;
}

#topnav ul.account-nav.logged-in > li {
    width: 50px !important;
    height: 50px !important;
    line-height: 50px !important;
    vertical-align: middle !important;
    border-left: none !important;
}

#topnav ul.account-nav > li:last-child {
    max-width: 260px !important;
    width: auto !important;
}

#topnav ul.account-nav > li:last-child,
#topnav ul.site-nav li.last {
    border-right: none !important;
}

#topnav ul.account-nav .logged-in-user.dropdown.open,
#topnav ul.account-nav.logged-in li:hover,
#topnav ul.site-nav li:hover {
    background-color: rgba(0, 0, 0, .1) !important;
}

.dropdown .dropdown-menu {
    border-radius: 0 !important;
    top: 42px !important;
}

input,
select,
textarea {
    border-radius: 0 !important;
}

#topnav ul.account-nav .logged-in-user .dropdown-menu {
    background-color: #2d3035 !important;
    border: 1px solid #313439 !important;
    -webkit-box-shadow: none !important;
    width: calc(100% - 8px) !important;
    left: 0 !important;
}

.dropdown > li a {
    color: #fff !important;
}

#topnav li.logout.divider input,
#topnav li.logout.divider input:hover {
    background-color: transparent !important;
}

#topnav ul.account-nav ul.user-nav li.logout.divider {
    border-color: #313439 !important;
}

.showcase .stage {
    background-color: #2d3035 !important;
}

.showcase .info .fixed {
    border-top: 0 !important;
}

#language-selection {
    color: #000 !important;
}

.profile-name {
    color: #fff!important;
}

#navigation .inner > ul > li.search .btn-search {
    background-color: transparent !important;
    background-image: url(https://scratch.mit.edu/images/nav-search-glass.png) !important;
}

#navsearch {
    display: none !important;
}

body > #pagewrapper {
    background-color: #17191c !important;
}

element.style {
    background-color: #2d3035 !important;
}

::-webkit-scrollbar-track {
    background: #37383d !important;
}

::-webkit-scrollbar {
    width: 12px !important;
    height: 12px !important;
}

::-webkit-scrollbar-thumb {
    background: #8c8c8e !important;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #8c8c8e !important;
}

::-webkit-scrollbar-corner {
    background: #37383d !important;
}

.project-notes {
    width: calc(460px - 1rem) !important;
}

.project-loves:before, .project-favorites:before, .project-remixes:before, .project-views:before {
    filter: invert(100%) !important;
    opacity: 0.8 !important;
}

.extension-chip img[src$="extension-pen.svg"] {
    filter: grayscale(100%) !important;
}

.extension-chip img[src$="clouddata.svg"] {
    filter: invert(100%) !important;
}

.preview .project-description {
    border-radius: 0px !important;
}